.app_tiptap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.app_heading {
  text-align: center;
}
.is-active {
  color: white;
  background-color: #282c34;
}
.editor .ProseMirror {
  padding: 10px;
  min-height: 300px;
  outline-width: 0;
}
.mention {
  color: #fff;
  background-color: #a975ff;
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
}
